<div>
  <h2>
    <span id="user-management-page-heading" data-cy="userManagementPageHeading">Pancard Management List </span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPanList()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>
      <button class="btn btn-primary jh-create-entity" [routerLink]="['./new']">
        <fa-icon icon="plus"></fa-icon> <span>Create New Pancard</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="table-responsive" *ngIf="pans">
    <table class="table table-hover" aria-describedby="user-management-page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)">
          <th scope="col" jhiSortBy="id">
            <span>ID</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <!-- <th scope="col" jhiSortBy="login"><span>Login</span> <fa-icon icon="sort"></fa-icon></th> -->
          <th scope="col" jhiSortBy="email">
            <span>Name</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="email">
            <span>Email</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col">Pan Status</th>
          <!-- <th scope="col"><span>Profiles</span></th> -->
          <th scope="col" jhiSortBy="createdDate">
            <span>Created Date</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th></th>
          <!-- <th scope="col" jhiSortBy="lastModifiedBy"><span>Last Modified By</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lastModifiedDate"><span>Last Modified Date</span> <fa-icon icon="sort"></fa-icon></th> -->
          <!-- <th scope="col">Actions</th> -->
        </tr>
      </thead>
      <tbody *ngIf="pans">
        <tr *ngFor="let pan of pans; trackBy: trackIdentity">
          <td>
            <!-- <a [routerLink]="['./', user.login, 'view']">{{ pan.id }}</a> -->
            <a>{{ pan.id }}</a>
          </td>
          <!-- <td>{{ user.login }}</td> -->
          <td>{{ pan.nameasaadhaar }}</td>
          <td>{{ pan.email }}</td>
          <td>
            <!-- <button class="btn btn-danger btn-sm" (click)="setActive(pan, true)"
              *ngIf="!pan.panstatus">Deactivated</button>
              <button class="btn btn-success btn-sm" (click)="setActive(pan, false)" *ngIf="pan.panstatus"
              [disabled]="false">
              Activated
            </button> -->

            <button class="btn btn-danger btn-sm" *ngIf="pan.panstatus == 'INACTIVE'">Inactive</button>
            <button class="btn btn-success btn-sm" *ngIf="pan.panstatus != 'INACTIVE'" [disabled]="false">Active</button>
          </td>
          <td>{{ currentDate | date: 'dd/MM/yy HH:mm' }}</td>
          <!-- <td>
            <div *ngFor="let authority of user.authorities">
              <span class="badge badge-info">{{ authority }}</span>
            </div>
          </td> -->
          <td class="text-right">
            <div class="btn-group">
              <!-- <button type="submit" [routerLink]="['./', user.login, 'view']" class="btn btn-info btn-sm">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button> -->

              <button type="submit" [routerLink]="['./', 'view', pan.id]" class="btn btn-info btn-sm">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <!-- <button type="submit" [routerLink]="['./', user.login, 'edit']" queryParamsHandling="merge"
                class="btn btn-primary btn-sm">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button> -->

              <button type="submit" class="btn btn-primary btn-sm">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <!-- <button type="button" (click)="deleteUser(user)" class="btn btn-danger btn-sm"
                  [disabled]="!currentAccount || currentAccount.login === user.login">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline">Delete</span>
                </button> -->

              <button type="button" [disabled]="pan.panstatus == 'INACTIVE'" (click)="deleteUser(pan)" class="btn btn-danger btn-sm">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="pans">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="transition()"
      ></ngb-pagination>
    </div>
  </div>
</div>
