<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="status">
      <h2 data-cy="statusDetailsHeading"><span sysTranslate="psApp.status.detail.title">Status</span></h2>

      <hr />

      <sys-alert-error></sys-alert-error>

      <sys-alert></sys-alert>

      <dl class="row-md jh-entity-details">
        <dt><span sysTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ status.id }}</span>
        </dd>
        <dt><span sysTranslate="psApp.status.name">Name</span></dt>
        <dd>
          <span>{{ status.name }}</span>
        </dd>
        <dt><span sysTranslate="psApp.status.sequenceNo">Sequence No</span></dt>
        <dd>
          <span>{{ status.sequenceNo }}</span>
        </dd>
        <dt><span sysTranslate="psApp.status.description">Description</span></dt>
        <dd>
          <span>{{ status.description }}</span>
        </dd>
        <dt><span sysTranslate="psApp.status.category">Category</span></dt>
        <dd>
          <div *ngIf="status.category">
            <a [routerLink]="['/status-category', status.category?.id, 'view']">{{ status.category?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span sysTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/status', status.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span sysTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
